<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

<!-- Customizable head elements -->
    <title>VPR: Mapping the Money - More Federal Funding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta name="author" content="Matthew Parrilla, VPR, mparrilla *at* vpr.net">
    <meta property="og:description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta property="fb:admins" content="5735853" />
    <meta property="og:title" content="VPR: Mapping the Money - More Federal Funding" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.vpr.net/apps/mapping-the-money/static/img/usda-fsa.png" />
    <meta property="og:url" content="http://www.vpr.net/apps/mapping-the-money/fed" />
    <meta property="og:site_name" content="Vermont Public Radio" />
<!-- End custom head elements -->

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    </style>
    <link href="static/css/style3.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <!--Underwriter Script -->
    <script type='text/javascript'> var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; (function() { var gads = document.createElement('script'); gads.async = true; gads.type = 'text/javascript'; var useSSL = 'https:' == document.location.protocol; gads.src = (useSSL ? 'https:' : 'http:') +  '//www.googletagservices.com/tag/js/gpt.js'; var node = document.getElementsByTagName('script')[0]; node.parentNode.insertBefore(gads, node); })(); </script>
    <script type='text/javascript'> googletag.cmd.push(function() { googletag.defineSlot( '/6634685/VPR-Sitewide-UW-1-300x250', [300, 250], 'div-gpt-ad-1365016583819-0' ).addService(googletag.pubads()); googletag.pubads().enableSingleRequest(); googletag.enableServices(); }); </script>
    <!-- end underwriter scripts -->

    <script src="static/js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            nope: [ "static/css/fed-no-support.css" ]
        });
    </script>

    <!-- Analytics script -->
    <script type="text/javascript">(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = '//stream.publicbroadcasting.net/analytics/aayb.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <!-- end analytics script -->
  </head>

  <body>

    <!-- Header, do not modify -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner vpr-navbar">
        <div class="container fed">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://www.vpr.net">
            <img src="static/img/vpr-logo.png" alt="VPR Logo" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="nav-link" href="http://digital.vpr.net">
                VPR News</a></li>
              <li><a href="http://digital.vpr.net/programs/vermont-edition"
                class="nav-link">Vermont Edition</a></li>
              <li><a href="http://digital.vpr.net/programs/vpr-classical"
                class="nav-link">VPR Classical</a></li>
              <li><a href="http://digital.vpr.net/topics/featured-programs"
                class="nav-link">Programs</a></li>
              <li><a href="http://digital.vpr.net/support"
                class="nav-link">Support</a></li>
              <li><a href="http://digital.vpr.net/inside-vpr"
                class="nav-link">Inside VPR</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end Header -->

    <div class="container">

<!-- Enter page specific HTML here -->

    <div class="row">
        <div class="span12 no-svg">
            <p id="exasperation">Oh no!</p>
            <p>Your browser doesn't support the technology used on this page.</p>
            <p>For a better (and more secure) web experience, try using <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox.</a></p>
        </div>
    </div>
    <div class="row">
        <div id="page-description" class="span8">
        <h1>Mapping the Money: Federal</h1>
        <h3 id="sub-title">Where Irene relief funding came from and where it went</h3>
        <div id="description-p">
            <p>Hundreds of millions of dollars were donated and appropriated to help people, business and towns recover from Tropical Storm Irene.</p>
            <p>In the <a href="http://www.vpr.net/apps/mapping-the-money/fema">first installment</a> of the Mapping the Money project, we took a look at FEMA, the single largest source of relief funding. The Vermont Community Foundation was the focus of our <a href="http://www.vpr.net/apps/mapping-the-money/vcf">second installment</a>. Now, for our next installment, we explore the remaining federal dollars contributed to the relief effort.</p>
            <p class="last-updated">Last Updated: August 26, 2013</p>
        </div>

        </div>
        <div class="span4">
            <div class="row" id="google-ad">
                <section><!-- VPR-Sitewide-UW-1-300x250 --> <div id='div-gpt-ad-1365016583819-0' style='width:300px; height:250px;'> <script type='text/javascript'> googletag.cmd.push(function() { googletag.display('div-gpt-ad-1365016583819-0'); }); </script> </div> <nav> <ul id="underwriter-nav"> <li><a href="http://www.vpr.net/apps/underwriter-directory/index">Find An Underwriter</a></li> -- <li><a href="http://www.vpr.net/support/business_underwriting/">Become An Underwriter</a></li> </ul> </nav></section>
            </div>
        </div>
    </div>
    
    <div class="social-row row">
        <div class="span4">
            <a class="read-more" href="http://digital.vpr.net/term/mapping-money">[ Follow the Reporting ]</a>
        </div>
        <div class="span4">
            <a class="read-more" href="http://www.vpr.net/apps/irene/index#mapping-link">[ Mapping the Money Home ]</a>
        </div>
        <div class="span4">
            <ul id="social">
                <li id="share_prompt">SHARE:</li>
                <li><a href="http://www.facebook.com/dialog/feed?
                    app_id=282283015178&
                    link=http://www.vpr.net/apps/mapping-the-money/fed&
                    picture=http://www.vpr.net/apps/mapping-the-money/static/img/usda-fsa.png&
                    name=VPR:%20Mapping%20the%20Money&
                    caption=Irene%20Relief%20Funding:%20Federal%20(cont)&
                    description=An%20interactive%20data%20visualization%20project%20to%20provide%20meaning%20and%20context%20to%20the%20dollars&
                    redirect_uri=http://www.vpr.net/apps/mapping-the-money/fed"
                    target="_blank"><img src="static/img/small-facebook-icon.png"> FACEBOOK</a></li>
                <li><a href="http://twitter.com/share?url=http://www.vpr.net/apps/mapping-the-money/fed&text=Part 3 of Mapping the Money - A VPR project following Irene Relief Funding. This round: more federal $&via=vprnet" target="_blank">
                <img src="static/img/small-twitter-bird-icon.png"> TWITTER</li></a>
                <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.vpr.net/apps/mapping-the-money/fed" target="_blank"><img src="static/img/small-icon_google.png"> GOOGLE+</li></a>
            </ul>
        </div>
    </div>
    <hr>

    <div class="row fha fed-row">
        <h2>$102,288,349</h2>
        <h3>Federal Highway Administration</h3>
        <div class="span6">
            <div id="fha-mapbox"></div>
        </div>
        <div class="span6 description-span">
            <p class="fed-description">The US Federal Highway Administration has contributed more than $100 million to repair roads and bridges damaged during Tropical Storm Irene. Most of this money was spent on state highways.</p>
            <p class="fed-description">Money spent to repair town roads and bridges came largely from FEMA.  Additional state and FEMA funds were provided to repair both town roads and state highways.</p>
            <p class="fed-explanation">The Federal Highway Administration spent an additional $440,472 statewide that is not represented on the map.</p>
        </div>
    </div>

    <hr>

    <div class="row hud fed-row">
        <h2>$15,124,361</h2>
        <h3>US Department of Housing and Urban Development</h3>
        <div class="span6">
            <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdDRTbkh0VUVUNk1JaTZndjNiLTdoTEE&oid=3&zx=gclbqap3ewq2" />
        </div>
        <div class="span6 description-span">
            <div id="hud-description">
            <p class="fed-description">The US Department of Housing and Urban Development has awarded $39.5 million to the state of Vermont for Irene relief via the Community Development Block Grant program (CDBG). Of those funds, the state of Vermont has already received access to $21.6 million, $15.6 million of which has been distributed as of June 17, 2013 and is represented here.</p>
            <p class="fed-description">The funds are primarily intended to benefit people of low and moderate income and to cover remaining expenses after other sources (FEMA, SBA, non-profits, etc.) have been utilized.</p>
            <p class="fed-description click-more">Click here for a breakdown of HUD funding recipients</p>
            </div>
            <div id="hud-additional">
                <h4>Three Rivers Ottauquechee Regional Commission</h4>
                <p>Funds used for flood damaged property buyouts</p>
                <h4>Rural Edge</h4>
                <p>Assistance for flood impacted houses whose needs exceed amount available from VDRF and other sources</p>
                <h4>Town of Waterbury</h4>
                <p>Multiple grants awarded. Funds went toward construction of a new town office, development of a new municipal complex, and a feasability study for a multi-use recreation trail</p>
                <h4>Brattleboro Development Credit Corporation</h4>
                <p>Business Assistance. Fund use determind by BDCC and SPringfield Regional Development Corporation</p>
                <h4>Central Vermont Community Action Council</h4>
                <p>Business Assistance. Fund use determined by CVAC</p>
                <h4>Central Vermont Community Land Trust</h4>
                <p>Affordable housing units to replace housing lost to Irene</p>
                <h4>Town of Waitsfield</h4>
                <p>Grant to move town office out of flood plain</p>
                <h4>Hunger Mountain Children's Center</h4>
                <p>Funds used to move the Children's Center to a temporary location while existing facility repaired and expanded.</p>
                <h4>Arnett Muldrow and Associates</h4>
                <p>Program to help most heavily impacted communities with long term recovery and revitalization</p>
                <h4>Brattleboro Housing Authority</h4>
                <p>Planning grant for pre-development work</p>
                <h4>Town of Wilmington</h4>
                <p>Planning grant for pre-development work</p>
                <p class="click-back">Click here to return to description</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row eda fed-row">
        <h2>$6,812,000</h2>
        <h3>Economic Development Administration</h3>
        <div class="span6">
            <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdDRTbkh0VUVUNk1JaTZndjNiLTdoTEE&oid=2&zx=9uke34v58beg" />
        </div>
        <div class="span6 description-span">
            <div id="eda-description">
            <p class="fed-description">The US Economic Development Administration awards disaster grants to support a community's long-term recovery, spur job creation, leverage private investment, and promote disaster recovery.</p>
            <p class="fed-description click-more">Click here for a breakdown of EDA funds</p>
            </div>
            <div id="eda-additional">
                <h4>VEDA</h4>
                <p>Provided money to be used for loans to businesses</p>
                <h4>VT Council on Rural Development</h4>
                <p>Funding went to the VT Digital Economy Project to establish WIFI hotspots to strengthen connectivity in communities pre and post disaster</p>
                <h4>VT Telecommunications Authority</h4>
                <p>Funding went to the Cellular Resiliency Project to build cell towers and provide back up power</p>
                <h4>Southern VT Disaster Recovery Project</h4>
                <p>Funds used to increase economic resiliency and increase economic vitality in Windham and Bennington counties</p>
                <h4>VT Agency of Commerce and Community Development</h4>
                <p>Fund used for regional commissions and development corporations</p>
                <h4>Village of Waterbury</h4>
                <p>Funds used to hire an economic development professional</p>
                <h4>State College Business Recovery Assistance</h4>
                <p>Support for small business development through the Vermont Technical College</p>
                <p class="click-back">Click here to return to description</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row nrcs fed-row">
        <h2>$4,181,311</h2>
        <h3>USDA Natural Resources Conservation Service</h3>
        <div class="span6">
            <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdDRTbkh0VUVUNk1JaTZndjNiLTdoTEE&oid=1&zx=qpsnrt75sfcw" />
        </div>

        <div class="span6 description-span">
            <p class="fed-description">The United States Department of Agriculture's Natural Resources Conservation Service (NRCS) provided funding via the Emergency Watershed Protection Program. Funds went primarily to stream bank stabilization and debris removal.</p>
        </div>
    </div>


    <hr>

    <div class="row rd fed-row">
        <h2>$2,914,147</h2>
        <h3>USDA Rural Development</h3>
        <div class="span6">
            <h4>$2,600,000</h4>
            <h5>Town of Randolph</h5>
            <p>To replace aging waste water system damaged by Irene</p>
        </div>
        <div class="span6">
            <h4>$314,147</h4>
            <h5>Town of Bethel</h5>
            <p>To rebuild hydroelectric dam damaged by Irene</p>
        </div>
    </div>

    <hr>
    
    <div class="row fsa fed-row">
        <h2>$2,529,482</h2>
        <h3>USDA Farm Service Agency</h3>
        <div class="span6">
            <div id="fsa-mapbox"></div>
        </div>
        <div class="span6 description-span">
            <div id="fsa-description">
            <p class="fed-description">The USDA Farm Service Agency distributes money to farmers by county. There are four separate programs (listed below) through which the funds are channeled. Since this data is for all disasters in 2011, some of the dollars represented were allocated in response to the spring flooding earlier in the year.</p>
            <div id="fsa-programs">
            <h4>Emergency Conservation Program (ECP)</h4>
            <p>Provides 75% cost-share to rehabilitate farmland damaged by natural disasters</p>
            <h4>Livestock Indemnity Program (LIP)</h4>
            <p>Provides assistance to livestock producers for livestock deaths from disaster events</p>
            <h4>Noninsured Crop Disaster Assitance Program (NAP)</h4>
            <p>Provides assistance when low yeilds, loss of inventory or prevented planting occur due to a natural disaster</p>
            <h4>Supplemental Revenue Assistance Payment Programs (SURE)</h4>
            <p>Provides assistance for crop revenue losses</p>
            </div>
            <p class="fed-description click-more">Click here to see a breakdown of the Farm Service Agency Program funding by county</p>
            </div>
            <div id="fsa-table">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>County</th>
                        <th>ECP</th>
                        <th>LIP</th>
                        <th>NAP</th>
                        <th>SURE</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td>Addison</td>
                        <td>$20,590</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$429,103</td>
                        <td>$449,693</td>
                    </tr>
                
                    <tr>
                        <td>Bennington</td>
                        <td>$49,608</td>
                        <td>$3,451</td>
                        <td>$0</td>
                        <td>$26,671</td>
                        <td>$79,730</td>
                    </tr>
                
                    <tr>
                        <td>Caledonia</td>
                        <td>$5,948</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$5,948</td>
                    </tr>
                
                    <tr>
                        <td>Chittenden</td>
                        <td>$18,188</td>
                        <td>$0</td>
                        <td>$17,711</td>
                        <td>$15,347</td>
                        <td>$51,246</td>
                    </tr>
                
                    <tr>
                        <td>Franklin</td>
                        <td>$38,472</td>
                        <td>$0</td>
                        <td>$5,744</td>
                        <td>$0</td>
                        <td>$44,216</td>
                    </tr>
                
                    <tr>
                        <td>Lamoille</td>
                        <td>$44,594</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$44,594</td>
                    </tr>
                
                    <tr>
                        <td>Orange</td>
                        <td>$41,808</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$41,808</td>
                    </tr>
                
                    <tr>
                        <td>Orleans</td>
                        <td>$2,402</td>
                        <td>$7,980</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$10,382</td>
                    </tr>
                
                    <tr>
                        <td>Rutland</td>
                        <td>$352,158</td>
                        <td>$250</td>
                        <td>$0</td>
                        <td>$322,292</td>
                        <td>$674,700</td>
                    </tr>
                
                    <tr>
                        <td>Washington</td>
                        <td>$130,402</td>
                        <td>$0</td>
                        <td>$20,105</td>
                        <td>$6,087</td>
                        <td>$156,594</td>
                    </tr>
                
                    <tr>
                        <td>Windham</td>
                        <td>$98,821</td>
                        <td>$0</td>
                        <td>$55,216</td>
                        <td>$23,992</td>
                        <td>$178,029</td>
                    </tr>
                
                    <tr>
                        <td>Windsor</td>
                        <td>$785,629</td>
                        <td>$6,983</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$792,612</td>
                    </tr>
                
                    <tr>
                        <td>Total</td>
                        <td>$1,588,620</td>
                        <td>$18,664</td>
                        <td>$98,776</td>
                        <td>$823,492</td>
                        <td>$2,529,552</td>
                    </tr>
                
                </tbody>
            </table>
            <p class="click-back">Click here to return to description</p>
            </div>
        </div>
    </div>

    <hr>
    
    <div id="more-federal" class="row">
        <h2>Additional Federal Funds</h2>
        <div class="span1"></div>
        <div class="span8">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Emergency Repair for Federally Owned Roads</td>
                        <td>$6,600,000</td>
                    </tr>
                    <tr>
                        <td>Emergency Managment Assistance</td>
                        <td>$4,000,000</td>
                    </tr>
                    <tr>
                        <td>Department of Labor Emergency Grant</td>
                        <td>$2,053,000</td>
                    </tr>
                    <tr>
                        <td>Neighborworks Counseling</td>
                        <td>$300,000</td>
                    </tr>
                    <tr>
                        <td>EPA Technical Assistance</td>
                        <td>$200,000</td>
                    </tr>
                    <tr>
                        <td>Multi-Family Grant Program</td>
                        <td>$88,000</td>
                    </tr>
                    <tr class="loans">
                        <td>Small Business Administration <em>(loans)</em></td>
                        <td><em>$34,900,000</em></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div id="more-mapping" class="row">
        <h3>More Mapping the Money</h3>
        <a href="http://www.vpr.net/apps/mapping-the-money/ngo">
        <div class="more-stories span4">
            <h4>Mapping the Money: The NGOs</h4>
            <img src="static/img/thumbnails/symbol-thumb.png" alt="Mapping the Money: The NGOs" />
        </div>
        </a>

        <a href="http://www.vpr.net/apps/mapping-the-money/state">
        <div class="more-stories span4">
            <h4>Mapping the Money: The State</h4>
            <img src="static/img/state-pie.png" alt="Mapping the Money: The State" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fema">
        <div class="more-stories span4">
            <h4>Mapping The Money: FEMA</h4>
            <img src="static/img/choropleth.png" alt="Mapping The Money: FEMA" />
        </div>
        </a>
        
    </div>


    <hr>

    <div class="row">
        <div id="the-data" class="span4">
            <h3>The Data</h3>
            <ul>
                <li><a href="data/fed/vpr-irene-20130806-usda-fsa.csv">USDA: FSA</a></li>
                <li><a href="data/fed/vpr-irene-20130806-usda-nrcs.csv">USDA: NRCS</a></li>
                <li><a href="data/fed/vpr-irene-20130806-eda.csv">Economic Development Administration</a></li>
                <li><a href="data/fed/vpr-irene-20130806-fha.csv">Federal Highway Adminstration</a></li>
                <li><a href="data/fed/vpr-irene-20130806-hud.csv">Housing and Urban Development</a></li>
            </ul>
            <p>Click on the links above to download the relevant data</p>
        </div>
        <div id="the-people" class="span4">
            <h3>The People</h3>
            <table>
                <tr>
                    <td>The Reporter:</td>
                    <td><a href="http://digital.vpr.net/people/nancy-eve-cohen">Nancy Cohen</a></td>
                </tr>
                <tr>
                    <td>The Producer:</td>
                    <td><a href="http://twitter.com/jonathanpb">Jonathan Butler</a></td>
                </tr>
                <tr>
                    <td>The Editor:</td>
                    <td><a href="http://twitter.com/szvt">Steve Zind</a></td>
                </tr>
                <tr>
                    <td>The Developer:</td>
                    <td><a href="http://twitter.com/mattparrilla">Matt Parrilla</a></td>
                </tr>
            </table>
            <p class="last-updated"><em>Mapping the Money</em> is funded in part by the VPR Journalism Fund</p>
        </div>
        <div id="the-notes" class="span4">
            <h3>The Notes</h3>
            <p>The data represented is accurate as of Auguest 6, 2013 as reported to VPR. Values will change as more funding is approved.</p>
        </div>
    </div>

<!-- End page specific HTML -->

      <hr>

      <footer>
        <p>&copy; Vermont Public Radio 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            yep: 'static/js/fed-ck.js'
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>

  </body>
</html>
