<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

<!-- Customizable head elements -->
    <title>VPR: Mapping the Money - FEMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta name="author" content="Matthew Parrilla, VPR, mparrilla *at* vpr.net">
    <meta property="og:description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta property="fb:admins" content="5735853" />
    <meta property="og:title" content="VPR: Mapping the Money" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.vpr.net/apps/mapping-the-money/static/img/vt-chor-fb1.png" />
    <meta property="og:url" content="http://www.vpr.net/apps/mapping-the-money/fema" />
    <meta property="og:site_name" content="Vermont Public Radio" />
<!-- End custom head elements -->

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    </style>
    <link href="static/css/style3.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <!--Underwriter Script -->
    <script type='text/javascript'> var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; (function() { var gads = document.createElement('script'); gads.async = true; gads.type = 'text/javascript'; var useSSL = 'https:' == document.location.protocol; gads.src = (useSSL ? 'https:' : 'http:') +  '//www.googletagservices.com/tag/js/gpt.js'; var node = document.getElementsByTagName('script')[0]; node.parentNode.insertBefore(gads, node); })(); </script>
    <script type='text/javascript'> googletag.cmd.push(function() { googletag.defineSlot( '/6634685/VPR-Sitewide-UW-1-300x250', [300, 250], 'div-gpt-ad-1365016583819-0' ).addService(googletag.pubads()); googletag.pubads().enableSingleRequest(); googletag.enableServices(); }); </script>
    <!-- end underwriter scripts -->

    <script src="static/js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            nope: [ "static/css/no-support.css" ]
        });
    </script>

    <!-- Analytics script -->
    <script type="text/javascript">(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = '//stream.publicbroadcasting.net/analytics/aayb.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <!-- end analytics script -->
  </head>

  <body>

    <!-- Header, do not modify -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner vpr-navbar">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://www.vpr.net">
            <img src="static/img/vpr-logo.png" alt="VPR Logo" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="nav-link" href="http://digital.vpr.net">
                VPR News</a></li>
              <li><a href="http://digital.vpr.net/programs/vermont-edition"
                class="nav-link">Vermont Edition</a></li>
              <li><a href="http://digital.vpr.net/programs/vpr-classical"
                class="nav-link">VPR Classical</a></li>
              <li><a href="http://digital.vpr.net/topics/featured-programs"
                class="nav-link">Programs</a></li>
              <li><a href="http://digital.vpr.net/support"
                class="nav-link">Support</a></li>
              <li><a href="http://digital.vpr.net/inside-vpr"
                class="nav-link">Inside VPR</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end Header -->

    <div class="container">

<!-- Enter page specific HTML here -->

    <div class="row">
        <div class="span12 no-svg">
            <p id="exasperation">Oh no!</p>
            <p>Your browser doesn't support the technology used on this page.</p>
            <p>For a better (and more secure) web experience, try using <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox.</a></p>
        </div>
    </div>
    <div class="row">
        <div id="page-description" class="span8">
        <h1>Mapping the Money: FEMA</h1>
        <h3 id="sub-title">Where Irene relief funding came from and where it went</h3>
        <div id="description-p">
            <p>Hundreds of millions of dollars were donated and appropriated to help people, business and towns recover from Tropical Storm Irene.</p>
            <p>In this first installment of the Mapping the Money project, we take a look at FEMA, which has spent far more on relief and recovery than any other group; <span id="red">a total of more than $260 million so far.</span></p>
            <p class="last-updated">Last Updated: June 13, 2013</p>
        </div>

        </div>
        <div class="span4">
            <div class="row" id="google-ad">
                <section><!-- VPR-Sitewide-UW-1-300x250 --> <div id='div-gpt-ad-1365016583819-0' style='width:300px; height:250px;'> <script type='text/javascript'> googletag.cmd.push(function() { googletag.display('div-gpt-ad-1365016583819-0'); }); </script> </div> <nav> <ul id="underwriter-nav"> <li><a href="http://www.vpr.net/apps/underwriter-directory/index">Find An Underwriter</a></li> -- <li><a href="http://www.vpr.net/support/business_underwriting/">Become An Underwriter</a></li> </ul> </nav></section>
            </div>
        </div>
    </div>

    <div class="social-row row">
        <div class="span4">
            <a class="read-more" href="http://digital.vpr.net/term/mapping-money">[ Follow the Reporting ]</a>
        </div>
        <div class="span4">
            <a class="read-more" href="http://www.vpr.net/apps/irene/index#mapping-link">[ Mapping the Money Home ]</a>
        </div>
        <div class="span4">
            <ul id="social">
                    <li id="share_prompt">SHARE:</li>
                    <li><a href="http://www.facebook.com/dialog/feed?
                        app_id=282283015178&
                        link=http://www.vpr.net/apps/mapping-the-money/fema&
                        picture=http://www.vpr.net/apps/mapping-the-money/static/img/vt-chor.png&
                        name=VPR:%20Mapping%20the%20Money&
                        caption=Irene%20Relief%20Funding:%20FEMA&
                        description=An%20interactive%20data%20visualization%20project%20to%20provide%20meaning%20and%20context%20to%20the%20dollars&
                        redirect_uri=http://www.vpr.net/apps/mapping-the-money/fema"
                        target="_blank"><img src="static/img/small-facebook-icon.png"> FACEBOOK</a></li>
                    <li><a href="http://twitter.com/share?url=http://www.vpr.net/apps/mapping-the-money/fema&text=Check out Mapping the Money: FEMA - A VPR project following Irene Relief Funding&hasthags=VT,Irene,VPRNews&via=vprnet" target="_blank">
                    <img src="static/img/small-twitter-bird-icon.png"> TWITTER</li></a>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.vpr.net/apps/mapping-the-money/fema" target="_blank"><img src="static/img/small-icon_google.png"> GOOGLE+</li></a>
                </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>$185,022,225 to Towns and Homeowners</h2>
        <div id="mapbox" class="span6">
            <div id="town-header">
            </div>
        </div>
        <div id="town-info" class="span6">
            <h3>Click on a town on the map to see the breakdown</h3>
            <div id="town-name">
                <h3>Sum across all towns</h3>
                <p>click here to reset table</p>
            </div>
            <table class="table table-striped table-condensed table-bordered ">
                <thead>
                    <th>Program</th>
                    <th>Subtotal</th>
                    <th>Total</th>
                </thead>
                <tr>
                    <td class="help-popup" id="ihp-event">Individuals and Households Program <span class="help-info"></span></td>
                    <td class="update-table"></td>
                    <td class="update-table">$23,253,141</td>
                </tr>
                <tr class="ihp-component">
                    <td class="help-popup" id="ha-event">Housing Assistance <span class="help-info"></span></td>
                    <td class="update-table">$21,669,004</td>
                    <td class="update-table"></td>
                </tr>
                <tr class="ihp-component">
                    <td class="help-popup" id="on-event">Other Needs <span class="help-info"></span></td>
                    <td class="update-table">$1,584,136</td>
                    <td class="update-table"></td>
                </tr>
                <tr>
                    <td class="help-popup" id="pa-event">Public Assistance <span class="help-info"></span></td>
                    <td class="update-table"></td>
                    <td class="update-table">$105,771,366</td>
                </tr>
                <tr>
                    <td class="help-popup" id="hmgp-event">Hazard Mitigation Grant Program <span class="help-info"></span></td>
                    <td class="update-table"></td>
                    <td class="update-table">$13,178,000</td>
                </tr>
                <tr>
                    <td class="help-popup" id="nfi-event">National Flood Insurance <span class="help-info"></span></td>
                    <td class="update-table"></td>
                    <td class="update-table">$42,819,718</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td class="update-table"></td>
                    <td class="update-table">$185,022,225</td>
                </tr>
            </table>
            <p id="click-for-help">Click on a program to see a definition</p>
            <div id="help-popups">
                <div id="ihp-help" class="help-text">
                    <h5>Individuals and Households Program</h5>
                    <p>Individuals and Households Program (IHP) provides money and services to people in Presidentailly declared disaster areas. IHP is comprised of  Housing Assistance (HA) and Other Needs (ON).</p>
                </div>
                <div id="ha-help" class="help-text">
                    <h5>Housing Assistance</h5>
                    <p>Provides assistance for disaster-related housing needs.</p>
                </div>
                <div id="on-help" class="help-text">
                    <h5>Other Needs</h5>
                    <p>Provides assistance for other disaster-related needs, such as furnishings, transportation, and medical.</p>
                </div>
                <div id="pa-help" class="help-text">
                    <h5>Public Assistance Program</h5>
                    <p>Public Assitance (PA) is available for communities to quickly respond to and recover from major disasters or emergencies declared by the President.</p>
                </div>
                <div id="hmgp-help" class="help-text">
                    <h5>Hazard Mitigation Grant Program</h5>
                    <p>The Hazard Mitigation Grant Program (HMGP) provides grants to states and local governments to implement long-term hazard mitigation measures after a major disaster declaration. The purpose of the HMGP is to reduce the loss of life and property due to natural disasters and to enable mitigation measures to be implemented during the immediate recovery from a disaster.</p>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div id="the-state" class="row">
        <h2>$73,416,927 to State Government</h2>
        <div class="span6" id="pie-chart">
            <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdC1zTTBnZjNXUjJmM095SHdnWEZTRFE&oid=1&zx=3hhcx2ni887j" />

            <p id="state-explanation">The above graph represents the federal relief dollars that went straight to Vermont State Government organizations and relief efforts via the Public Assistance Program.</p>
            <p id="supplemental-dollars">The supplemental dollars are not included in the above graph.</p>
        </div>
        <div class="span6" id="margin-fix">
            <table id="state-table" class="table table-striped table-bordered table-condensed">
                <thead>
                    <th>Public Assistance Recipients</th>
                    <th>Total</th>
                </thead>
                <tr>
                    <td>Vermont State Hospital</td>
                    <td>$30,000,000</td>
                </tr>
                <tr>
                    <td>Agency of Transportation</td>
                    <td>$21,682,364</td>
                </tr>
                <tr>
                    <td>Department of Buildings &amp; General Services</td>
                    <td>$11,552,704</td>
                </tr>
                <tr>
                    <td>Department of Public Safety</td>
                    <td>$1,146,857</td>
                </tr>
                <tr>
                    <td>Fish &amp; Wildlife Department</td>
                    <td>$817,604</td>
                </tr>
                <tr>
                    <td>Department of Forests, Parks, &amp; Recreation</td>
                    <td>$756,641</td>
                </tr>
                <tr>
                    <td>Military Department</td>
                    <td>$144,962</td>
                </tr>
                <tr>
                    <td>Department of Health</td>
                    <td>$36,717</td>
                </tr>
                <tr>
                    <td>Department of Environmental Conservation</td>
                    <td>$26,650</td>
                </tr>
                <tr>
                    <td>Division for Historic Preservation</td>
                    <td>$14,269</td>
                </tr>
                <tr>
                    <td>Department of Mental Health</td>
                    <td>$12,752</td>
                </tr>
                <tr>
                    <td>Agency of Agriculture, Food, &amp; Markets</td>
                    <td>$6,582</td>
                </tr>
                <tr>
                    <td>Department for Children and Families</td>
                    <td>$6,485</td>
                </tr>
                <tr>
                    <td>Department of Corrections</td>
                    <td>$5,990</td>
                </tr>
                <tr>
                    <td>Department of Human Resources</td>
                    <td>$5,990</td>
                </tr>
                <tr>
                    <td>Agency of Human Services</td>
                    <td>$5,990</td>
                </tr>
                <tr>
                    <td>Center for Crime Victim Services</td>
                    <td>$4,294</td>
                </tr>
                <tr>
                    <td>Department of Information &amp; Innovation</td>
                    <td>$639</td>
                </tr>
                <tr>
                    <td>Department of Disabilities, Aging, &amp; Independent Living</td>
                    <td>$495</td>
                </tr>
                <tr>
                    <th>PA Total</th>
                    <th>$66,227,985</th>
                </tr>
                <tr><td colspan="2"></td></tr>
                <tr><th colspan="2">FEMA Supplemental Recipients</th></tr>
                <tr>
                    <td>Disaster Legal Services</td>
                    <td>$2,865,359</td>
                </tr>
                <tr>
                    <td>Case Management</span></td>
                    <td>$2,800,000</td>
                </tr>
                <tr>
                    <td>Crisis Counseling</td>
                    <td>$1,124,990</td>
                </tr>
                <tr>
                    <td>Disaster Unemployment Assistance</td>
                    <td>$398,593</td>
                </tr>
                <tr>
                    <th>Supplemental Total</th>
                    <th>$7,188,942</th>
                </tr>
                <tr><td colspan="2"></td></tr>
                <tr>
                    <th>Grand Total</th>
                    <th>$73,416,927</tr>
                </tr>

            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2>$2,353,150 to Other Organizations</h2>
        <div id="spacer-span" class="span2"></div>
        <div class="span8">
            <table id="other-table" class="table table-striped table-condensed table-bordered">
                <thead>
                    <th>Public Assistance Recipient</th>
                    <th>Total</th>
                </thead>
                <tr>
                    <td>Vermont Electric Co-op</td>
                    <td>$1,110,173</td>
                </tr>
                <tr>
                    <td>Chittenden County Transportation Authority</td>
                    <td>$529,243</td>
                </tr>
                <tr>
                    <td>Landmark College</td>
                    <td>$197,036</td>
                </tr>
                <tr>
                    <td>The Housing Foundation, Inc.</td>
                    <td>$125,054</td>
                </tr>
                <tr>
                    <td>American Precision Museum, Inc.</td>
                    <td>$97,984</td>
                </tr>
                <tr>
                    <td>Springfield Medical Care Systems, Inc.</td>
                    <td>$59,469</td>
                </tr>
                <tr>
                    <td>Mt. Tabor-Danby Historical Society</td>
                    <td>$50,672</td>
                </tr>
                <tr>
                    <td>Woodstock Associates, Inc.</td>
                    <td>$34,853</td>
                </tr>
                <tr>
                    <td>Sherburne Fire Department</td>
                    <td>$29,180</td>
                </tr>
                <tr>
                    <td>Vermont Acheivement Center</td>
                    <td>$28,382</td>
                </tr>
                <tr>
                    <td>Mad River Solid Waste Alliance</td>
                    <td>$25,983</td>
                </tr>
                <tr>
                    <td>Waste, Inc.</td>
                    <td>$20,671</td>
                </tr>
                <tr>
                    <td>New England Kurn Hattin Homes</td>
                    <td>$14,163</td>
                </tr>
                <tr>
                    <td>Windham Solid Waste Management District</td>
                    <td>$13,684</td>
                </tr>
                <tr>
                    <td>Champion Fire Company</td>
                    <td>$11,163</td>
                </tr>
                <tr>
                    <td>Orange County Sherrif Department</td>
                    <td>$3,055</td>
                </tr>
                <tr>
                    <td>Windham County Probate Court</td>
                    <td>$2,378</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>$2,353,150</th>
                </tr>
            </table>
        </div>
    </div>

    <div id="equals">
        <hr class="bold-hr">
        <hr class="bold-hr">
    </div>

    <div class="row">
        <h2>$260,792,302 already allocated by FEMA in Vermont</h2>
    </div>

    <hr>
    <div id="more-mapping" class="row">
        <h3>More Mapping the Money</h3>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/ngo">
        <div class="more-stories span4">
            <h4>Mapping the Money: The NGOs</h4>
            <img src="static/img/thumbnails/symbol-thumb.png" alt="Mapping the Money: VCF" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fed">
        <div class="more-stories span4">
            <h4>Mapping The Money: More Federal Funding</h4>
            <img src="static/img/fed-mtm.png" alt="Mapping The Money: More Federal Funding" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/state">
        <div class="more-stories span4">
            <h4>Mapping The Money: The State</h4>
            <img src="static/img/state-pie.png" alt="Mapping The Money: State" />
        </div>
        </a>
        
    </div>

    <hr>

    <div class="row">
        <div id="the-data" class="span4">
            <h3>The Data</h3>
            <ul>
                <li><a href="data/fed/vpr-irene-20130827-federal-map.csv">Town Map Data </a></li>
                <li><a href="data/fed/vpr-irene-20130613-by-state.csv">State Government Data</a></li>
                <li><a href="data/fed/vpr-irene-20130613-by-other.csv">Other Organization Data</a></li>
                <li><a href="http://maps.vcgi.org/gisdata/vcgi/packaged_zips/BoundaryTown_TWNBNDS.zip">VCGI Shapefile (for map)</a></li>
            </ul>
            <p>Click on the links above to download the relevant data</p>
        </div>
        <div id="the-people" class="span4">
            <h3>The People</h3>
            <table>
                <tr>
                    <td>The Reporter:</td>
                    <td><a href="http://digital.vpr.net/people/nancy-eve-cohen">Nancy Cohen</a></td>
                </tr>
                <tr>
                    <td>The Producer:</td>
                    <td><a href="http://twitter.com/jonathanpb">Jonathan Butler</a></td>
                </tr>
                <tr>
                    <td>The Editor:</td>
                    <td><a href="http://twitter.com/szvt">Steve Zind</a></td>
                </tr>
                <tr>
                    <td>The Developer:</td>
                    <td><a href="http://twitter.com/mattparrilla">Matt Parrilla</a></td>
                </tr>
            </table>
            <p class="last-updated"><em>Mapping the Money</em> is funded in part by the VPR Journalism Fund</p>
        </div>
        <div id="the-notes" class="span4">
            <h3>The Notes</h3>
            <p>The data represented is accurate as of June 13, 2013 as reported to VPR. Values will change as more funding is approved.</p
            <p>Data from villages was rolled up into the towns that the villages are located within.</p>
        </div>
    </div>

<!-- End page specific HTML -->

      <hr>

      <footer>
        <p>&copy; Vermont Public Radio 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            yep: 'static/js/choropleth-ck.js'
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>

  </body>
</html>
