<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

<!-- Customizable head elements -->
    <title>VPR: Mapping the Money - The NGOs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta name="author" content="Matthew Parrilla, VPR, mparrilla *at* vpr.net">

    <meta property="og:description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers. In this installment we explore the non-governmental organizations behind the relief effort.">
    <meta property="fb:admins" content="5735853" />
    <meta property="og:title" content="VPR: Mapping the Money - The NGOs" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.vpr.net/apps/mapping-the-money/static/img/np.png" />
    <meta property="og:url" content="http://www.vpr.net/apps/mapping-the-money/ngo" />
    <meta property="og:site_name" content="Vermont Public Radio" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@vprnet">
    <meta name="twitter:title" content="Mapping the Money: NGOs">
    <meta name="twitter:creator" content="@mattparrilla">
    <meta name="twitter:description" content="Follow the money as VPR publishes Irene relief funding data with interactive visualizations. In this installment we explore the NGOs behind the biggest relief effort in state history.">
<!-- End custom head elements -->

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    </style>
    <link href="static/css/style-ngo.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <!--Underwriter Script -->
    <script type='text/javascript'> var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; (function() { var gads = document.createElement('script'); gads.async = true; gads.type = 'text/javascript'; var useSSL = 'https:' == document.location.protocol; gads.src = (useSSL ? 'https:' : 'http:') +  '//www.googletagservices.com/tag/js/gpt.js'; var node = document.getElementsByTagName('script')[0]; node.parentNode.insertBefore(gads, node); })(); </script>
    <script type='text/javascript'> googletag.cmd.push(function() { googletag.defineSlot( '/6634685/VPR-Sitewide-UW-1-300x250', [300, 250], 'div-gpt-ad-1365016583819-0' ).addService(googletag.pubads()); googletag.pubads().enableSingleRequest(); googletag.enableServices(); }); </script>
    <!-- end underwriter scripts -->

    <script src="static/js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            nope: [ "static/css/no-support-vcf.css" ]
        });
    </script>

    <!-- Analytics script -->
    <script type="text/javascript">(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = '//stream.publicbroadcasting.net/analytics/aayb.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <!-- end analytics script -->
  </head>

  <body>

    <!-- Header, do not modify -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner vpr-navbar">
        <div class="container fed">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://www.vpr.net">
            <img src="static/img/vpr-logo.png" alt="VPR Logo" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="nav-link" href="http://digital.vpr.net">
                VPR News</a></li>
              <li><a href="http://digital.vpr.net/programs/vermont-edition"
                class="nav-link">Vermont Edition</a></li>
              <li><a href="http://digital.vpr.net/programs/vpr-classical"
                class="nav-link">VPR Classical</a></li>
              <li><a href="http://digital.vpr.net/topics/featured-programs"
                class="nav-link">Programs</a></li>
              <li><a href="http://digital.vpr.net/support"
                class="nav-link">Support</a></li>
              <li><a href="http://digital.vpr.net/inside-vpr"
                class="nav-link">Inside VPR</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end Header -->

    <div class="container">

<!-- Enter page specific HTML here -->

    <div class="row">
        <div class="span12 no-svg">
            <p id="exasperation">Oh no!</p>
            <p>Your browser doesn't support the technology used on this page.</p>
            <p>For a better (and more secure) web experience, try using <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox.</a></p>
        </div>
    </div>
    <div class="row">
        <div id="page-description" class="span8">
        <h1>Mapping the Money: NGOs</h1>
        <h3 id="sub-title">Where Irene relief funding came from and where it went</h3>
        <div id="description-p">
            <p>Hundreds of millions of dollars were donated and appropriated to help people, business and towns recover from Tropical Storm Irene.</p>
            <p>In the <a href="http://www.vpr.net/apps/mapping-the-money/fema">first installment</a> of the Mapping the Money project, we took a look at FEMA, the single largest source of relief funding. Now we explore the non-governmental organizations behind the largest relief effort in state history.</p>
            <p class="last-updated">Last Updated: August 26, 2013</p>
        </div>

        </div>
        <div class="span4">
            <div class="row" id="google-ad">
                <section><!-- VPR-Sitewide-UW-1-300x250 --> <div id='div-gpt-ad-1365016583819-0' style='width:300px; height:250px;'> <script type='text/javascript'> googletag.cmd.push(function() { googletag.display('div-gpt-ad-1365016583819-0'); }); </script> </div> <nav> <ul id="underwriter-nav"> <li><a href="http://www.vpr.net/apps/underwriter-directory/index">Find An Underwriter</a></li> -- <li><a href="http://www.vpr.net/support/business_underwriting/">Become An Underwriter</a></li> </ul> </nav></section>
            </div>
        </div>
    </div>

    <div class="social-row row">
        <div class="span4">
            <a class="read-more" href="http://digital.vpr.net/term/mapping-money">[ Follow the Reporting ]</a>
        </div>
        <div class="span4">
            <a class="read-more" href="http://www.vpr.net/apps/irene/index#mapping-link">[ Mapping the Money Home ]</a>
        </div>
        <div class="span4">
                <ul id="social">
                    <li id="share_prompt">SHARE:</li>
                    <li><a href="http://www.facebook.com/dialog/feed?
                        app_id=282283015178&
                        link=http://www.vpr.net/apps/mapping-the-money/ngo&
                        picture=http://www.vpr.net/apps/mapping-the-money/static/img/np.png&
                        name=VPR:%20Mapping%20the%20Money&
                        caption=Irene%20Relief%20Funding:%20The%20NGOs&
                        description=An%20interactive%20data%20visualization%20project%20to%20provide%20meaning%20and%20context%20to%20the%20dollars&
                        redirect_uri=http://www.vpr.net/apps/mapping-the-money/ngo"
                        target="_blank"><img src="static/img/small-facebook-icon.png"> FACEBOOK</a></li>
                    <li><a href="http://twitter.com/share?url=http://www.vpr.net/apps/mapping-the-money/state&text=Mapping the Money: The NGOs - A VPR project following Irene Relief Funding. #VT $&via=vprnet" target="_blank">
                    <img src="static/img/small-twitter-bird-icon.png"> TWITTER</li></a>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.vpr.net/apps/mapping-the-money/ngo" target="_blank"><img src="static/img/small-icon_google.png"> GOOGLE+</li></a>
                </ul>
        </div>
    </div>
    
    <hr>
    <div class="np-map row">
        <ul class="nav nav-tabs big-tabs">
            <li id="vdrf" class="active"><a href="#vdrf" data-toggle="tab">VDRF</a></li>
            <li id="vcf"><a href="#vcf" data-toggle="tab">VCF</a></li>
            <li id="rotary" ><a href="#rotary" data-toggle="tab">Rotary International</a></li>
            <li id="efficiency"><a href="#efficiency" data-toggle="tab">Efficiency Vermont</a></li>
            <li id="flood"><a href="#flood-relief" data-toggle="tab">VT Irene Flood Relief</a></li>
            <li id="preservation"><a href="#preservation" data-toggle="tab">Preservation Trust of VT</a></li>
        </ul>
        <div id="small-tabs">
            <ul class="nav nav-tabs nav-stacked">
                <li id="vdrf" class="active"><a href="#vdrf" data-toggle="tab">VDRF</a></li>
                <li id="vcf"><a href="#vcf" data-toggle="tab">VCF</a></li>
                <li id="rotary" ><a href="#rotary" data-toggle="tab">Rotary International</a></li>
                <li id="efficiency"><a href="#efficiency" data-toggle="tab">Efficiency Vermont</a></li>
                <li id="flood"><a href="#flood-relief" data-toggle="tab">VT Irene Flood Relief</a></li>
                <li id="preservation"><a href="#preservation" data-toggle="tab">Preservation Trust of VT</a></li>
            </ul>
        </div>
        <div class="span6" id="mapbox">
        </div>
        <div class="span6">
            <div id="vcf-additional" class="map-explanation">
                <div id="vcf-info-main">
                    <h3 id="vcf-h3">Vermont Community Foundation</h2>
                    <h4 id="vcf-h4">$4,120,382</h3>
                    <div id="vcf-info-headers">
                        <h3>$2,422,388</h3>
                        <p>to farmers and</p>
                        <h3>$1,697,994</h3>
                        <p>to organizations</p>
                    </div>
                        <p class="vcf-click">Click on a circle for more information</p>
                </div>
                <div id="vcf-county-info">
                    <p class="vcf-reset">Reset Data</p>
                    <div class="vcf-data-spacer">
                        <h2></h2>
                        <h3 id="num-farmers"></h3>
                        <p>farmers received</p>
                        <h3 id="dollar-farmers"></h3>

                        <p class="vcf-click">Click on a circle for more information</p>
                    </div>
                </div>
                <div id="vcf-town-info">
                    <p class="vcf-reset">Reset Data</p>
                    <div class="vcf-data-spacer">
                        <h3></h3>
                        <table id="vcf-table" class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Organization</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <p class="vcf-click">Click on a circle for more information</p>
                    </div>
                </div>
            </div>

            <div id="rotary-additional" class="map-explanation">
                <h3>Rotary International</h3>
                <h4>$412,450</h4>
                <p class="map-extra">Rotary International has already distributed over $200,000 in relief of Tropical Storm Irene, of which $195,169 is represented on the map and the graph. Much of the relief funding went to repairing residential and municipal resources. The organization has allocated $412,450 toward Irene relief, the remainder of which remains to be disbursed.</p>
                <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdGE0bEs5b2docV9JNnpJaHNnNXE3Q3c&oid=3&zx=rbsomh47hhuv" />
            </div>
            <div id="efficiency-additional" class="map-explanation">
                <h3>Efficiency Vermont</h3>
                <h4>$753,562</h4>
                <p class="map-extra">Efficiency Vermont, the statewide "Energy Efficiency Utility", provided rebates to Vermonters purchasing new appliances to replace those damaged in Tropical Storm Irene.</p>
                <p class="map-extra">They also provided $225,000 worth of technical guidance to residences and businesses that is not included on the map, which shows the $528,562 that were attributable to particular towns.</p>
            </div>
            <div id="flood-additional" class="map-explanation">
                <h3>Vermont Irene Flood Relief Fund</h3>
                <h4>$571,400</h4>
                <p class="map-extra">The Vermont Irene Flood Relief Fund gave financial assistance to small businesses damaged  by Tropical Storm Irene across the state.</p>
                <p class="map-extra">The donations came from foundations, individual donors and businesses.</p>

                <p class="map-extra">For the most part, the only government funds offered to businesses after Tropical Storm Irene were loans. But many small businesses, pummeled by the flood, could not afford more debt. The Vermont Irene Flood Relief Fund provided financial support that doesn’t have to be paid back.</p>
            </div>
            <div id="vdrf-additional" class="map-explanation">
                <h3>Vermont Disaster Relief Fund</h3>
                <h4>$3,334,158</h4>
                <p class="map-extra">The Vermont Disaster Relief Fund provides grants to people who have already sought help from other sources such as FEMA, but still need financial assistance to repair their homes. The VDRF’s average grant is $10,000 and the largest is about $20,000. Besides helping survivors of Tropical Storm Irene, the fund has also provided grants to people rebuilding from the spring floods of 2011 and the summer of 2013.</p>
            </div>
            <div id="preservation-additional" class="map-explanation">
                <h3>Preservation Trust of Vermont</h3>
                <h4>$230,411</h4>
                <p class="map-extra">The Preservation Trust of Vermont is dedicated to conserving historic structures. In the wake of Tropical Storm Irene it provided funding to repair and rebuild damaged businesses, churches, municipal buildings, non-profits and covered bridges.</p>
                <p class="map-extra">Most of its funding came from foundations, but individual donors also contributed. YouTube videos of the Bartonsville and Quechee covered bridges that were destroyed by the flood inspired an outpouring of contributions.</p>
                <p class="map-extra">The Trust provided an additional $2,750 that is not reflected in the map but is represented in the total above.</p>
                <p class="source">Source: <a href="http://www.ptvermont.org">http://www.ptvermont.org</a></p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" id="stratton">
        <h2>Stratton Foundation: $417,400</h2>
        <div class="span6" id="stratton-bar">
            <img src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdGE0bEs5b2docV9JNnpJaHNnNXE3Q3c&oid=1&zx=rexpbre93849" />
        </div>
        <div class="span6">
            <p class="map-extra">The Stratton Foundation supports local non profits in the Stratton Mountain community to help families in need. In response to Tropical Storm Irene the Foundation raised more than $450,000 and distributed more than 75% of those funds to dozens of families, businesses and other groups after the flood.</p>
        </div>
    </div>

    <hr>

    <div class="row" id="np-list">
        <h2>More Non Governmental Organizations</h2>
        <div class="span3">
        </div>
        <div class="span6">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mad River Valley Community Fund</td>
                        <td>$1,350,811</td>
                    </tr>
                    <tr>
                        <td>Rebuild Waterbury</td>
                        <td>$994,463</td>
                    </tr>
                    <tr>
                        <td>Woodstock Flood Relief Fund</td>
                        <td>$556,441</td>
                    </tr>
                    <tr>
                        <td>Wilmington Flood Relief Fund</td>
                        <td>$500,000</td>
                    </tr>
                    <tr>
                        <td>Green Mountain United Way</td>
                        <td>$435,604</td>
                    </tr>
                    <tr>
                        <td>Upper Valley Strong LTRC</td>
                        <td>$381,035</td>
                    </tr>
                    <tr>
                        <td>Vermont Food Bank</td>
                        <td>$260,000</td>
                    </tr>
                    <tr>
                        <td>High Meadows Fund</td>
                        <td>$236,660</td>
                    </tr>
                    <tr>
                        <td>Southeast Vermont LTRC</td>
                        <td>$217,195</td>
                    </tr>
                    <tr>
                        <td>Wilmington Fund</td>
                        <td>$213,500</td>
                    </tr>
                    <tr>
                        <td>Deerfield River Valley Human Web</td>
                        <td>$208,153</td>
                    </tr>
                    <tr>
                        <td>Episcopal Diocese of Vermont</td>
                        <td>$169,046</td>
                    </tr>
                    <tr>
                        <td>Intervale Center Farmer's Recovery Fund</td>
                        <td>$155,000</td>
                    </tr>
                    <tr>
                        <td>Legal Services Corporation</td>
                        <td>$98,931</td>
                    </tr>
                    <tr>
                        <td>Floodstock</td>
                        <td>$65,000</td>
                    </tr>
                    <tr>
                        <td>Vermont Arts Council</td>
                        <td>$30,000</td>
                    </tr>
                    <tr>
                        <td>Town of Newfane</td>
                        <td>$21,650</td>
                    </tr>
                    <tr>
                        <td>Heartworks of Vermont</td>
                        <td>$20,000</td>
                    </tr>
                    <tr>
                        <td>Central Vermont LTRC</td>
                        <td>$18,000</td>
                    </tr>
                    <tr>
                        <td>Craft Emergency Relief Fund</td>
                        <td>$14,303</td>
                    </tr>
                    <tr>
                        <td>Precision Valley LTRC</td>
                        <td>$11,874</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <hr>

    <div class="row" id="note-row">
        <div class="span6">
            <h3>Notes on Double Counting</h3>
            <p>Due to the complicated relationships between NGOs, there is a small amount of double counting present in the figures on this page. Organizations often donated money to other organizations, who often also separately raised money themselves. In some cases, one organization would act as a fiscal agent for one or more other organizations, further complicating the matter.</p>
            <p>Many of the NGOs listed on this page are run by volunteers with limited time and resources, making it difficult to obtain the proper accounting necessary to untangle these circular relationships.</p>
        </div>
        <div class="span6">
            <h3>Add Your Organization</h3>
            <p>Did your NGO distribute funds in response to Tropical Storm Irene? If you feel that your organization should be included in the Mapping the Money project, <a href="http://www.vpr.net/inside_vpr/contact_us/?subject=Mapping+The+Money">contact us</a> for more information on how to share your data.</p>
            <h3>Update Your Data</h3>
            <p>If your organization has updated data to share, <a href="http://www.vpr.net/inside_vpr/contact_us/?subject=Mapping+The+Money">contact us</a> with an up to date spreadsheet.</p>
        </div>
    </div>

    <hr>

    <div id="more-mapping" class="row">
        <h3>More Mapping the Money</h3>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/state">
        <div class="more-stories span4">
            <h4>Mapping the Money: State</h4>
            <img src="static/img/state-pie.png" alt="Mapping the Money: State" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fed">
        <div class="more-stories span4">
            <h4>Mapping The Money: More Federal Funding</h4>
            <img src="static/img/fed-mtm.png" alt="Mapping The Money: Federal" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fema">
        <div class="more-stories span4">
            <h4>Mapping The Money: FEMA</h4>
            <img src="static/img/choropleth.png" alt="Mapping The Money: FEMA" />
        </div>
        </a>
        
    </div>

    <hr>

    <div class="row" id="notes-row">
        <div id="the-data" class="span4">
            <h3>The Data</h3>
            <ul>
                <li><a href="data/non-profit/vpr-vcf-20130703-org.csv">VCF Organization Data </a></li>
                <li><a href="data/non-profit/vpr-vcf-20130710-farms.csv">VCF Farmer Data</a></li>
                <li><a href="data/non-profit/vpr-irene-20130823-npMap.csv">Data for organizations in map</a></li>
                <li><a href="data/non-profit/vpr-irene-20130823-npList.csv">Data for organizations in spreadsheet</a></li>
                <li><a href="data/non-profit/vpr-irene-20130803-vdrf.csv">VDRF Data</a></li>
                <li><a href="data/non-profit/vpr-irene-20130823-stratton.csv">Stratton Foundation Data</a></li>
            </ul>
            <p>Click on the links above to download the relevant data</p>
        </div>
        <div id="the-people" class="span4">
            <h3>The People</h3>
            <table>
                <tr>
                    <td>The Reporter:</td>
                    <td><a href="http://digital.vpr.net/people/nancy-eve-cohen">Nancy Cohen</a></td>
                </tr>
                <tr>
                    <td>The Producer:</td>
                    <td><a href="http://twitter.com/jonathanpb">Jonathan Butler</a></td>
                </tr>
                <tr>
                    <td>The Editor:</td>
                    <td><a href="http://twitter.com/szvt">Steve Zind</a></td>
                </tr>
                <tr>
                    <td>The Developer: </td>
                    <td><a href="http://twitter.com/mattparrilla">Matt Parrilla</a></td>
                </tr>
            </table>
            <p class="last-updated">Mapping the Money is funded in part by the <em>VPR Journalism Fund</em></p>
        </div>
        <div id="the-notes" class="span4">
            <h3>The Notes</h3>
            <p>The data represented is accurate as of August 23, 2013 as reported to VPR. Values will change as more funding is approved.</p>
        </div>
    </div>

<!-- End page specific HTML -->

      <hr>

      <footer>
        <p>&copy; Vermont Public Radio 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            yep: 'static/js/ngo-ck.js'
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
