<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

<!-- Customizable head elements -->
    <title>VPR: Mapping the Money - State</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Follow the money as VPR publishes Irene Relief Funding data with interactive visualizations to help provide meaning and context to the numbers.">
    <meta name="author" content="Matthew Parrilla, VPR, mparrilla *at* vpr.net">

    <meta property="og:description" content="Follow the money as VPR publishes Irene relief funding data with interactive visualizations to help provide meaning and context to the numbers. In this installment we explore the state's financial contribution to the relief effort.">
    <meta property="fb:admins" content="5735853" />
    <meta property="og:title" content="VPR: Mapping the Money - The State" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.vpr.net/apps/mapping-the-money/static/img/np.png" />
    <meta property="og:url" content="http://www.vpr.net/apps/mapping-the-money/state" />
    <meta property="og:site_name" content="Vermont Public Radio" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@vprnet">
    <meta name="twitter:title" content="Mapping the Money: State">
    <meta name="twitter:creator" content="@mattparrilla">
    <meta name="twitter:description" content="Follow the money as VPR publishes Irene relief funding data with interactive visualizations. In this installment we explore the state's financial contribution to the relief effort.">
<!-- End custom head elements -->

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    </style>
    <link href="static/css/style-state.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <!--Underwriter Script -->
    <script type='text/javascript'> var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; (function() { var gads = document.createElement('script'); gads.async = true; gads.type = 'text/javascript'; var useSSL = 'https:' == document.location.protocol; gads.src = (useSSL ? 'https:' : 'http:') +  '//www.googletagservices.com/tag/js/gpt.js'; var node = document.getElementsByTagName('script')[0]; node.parentNode.insertBefore(gads, node); })(); </script>
    <script type='text/javascript'> googletag.cmd.push(function() { googletag.defineSlot( '/6634685/VPR-Sitewide-UW-1-300x250', [300, 250], 'div-gpt-ad-1365016583819-0' ).addService(googletag.pubads()); googletag.pubads().enableSingleRequest(); googletag.enableServices(); }); </script>
    <!-- end underwriter scripts -->

    <script src="static/js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.svg,
            nope: [ "static/css/fed-no-support.css" ]
        });
    </script>

    <!-- Analytics script -->
    <script type="text/javascript">(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = '//stream.publicbroadcasting.net/analytics/aayb.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    <!-- end analytics script -->
  </head>

  <body>

    <!-- Header, do not modify -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner vpr-navbar">
        <div class="container fed">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://www.vpr.net">
            <img src="static/img/vpr-logo.png" alt="VPR Logo" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="nav-link" href="http://digital.vpr.net">
                VPR News</a></li>
              <li><a href="http://digital.vpr.net/programs/vermont-edition"
                class="nav-link">Vermont Edition</a></li>
              <li><a href="http://digital.vpr.net/programs/vpr-classical"
                class="nav-link">VPR Classical</a></li>
              <li><a href="http://digital.vpr.net/topics/featured-programs"
                class="nav-link">Programs</a></li>
              <li><a href="http://digital.vpr.net/support"
                class="nav-link">Support</a></li>
              <li><a href="http://digital.vpr.net/inside-vpr"
                class="nav-link">Inside VPR</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end Header -->

    <div class="container">

<!-- Enter page specific HTML here -->

    <div class="row">
        <div class="span12 no-svg">
            <p id="exasperation">Oh no!</p>
            <p>Your browser doesn't support the technology used on this page.</p>
            <p>For a better (and more secure) web experience, try using <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox.</a></p>
        </div>
    </div>
    <div class="row">
        <div id="page-description" class="span8">
        <h1>Mapping the Money: State</h1>
        <h3 id="sub-title">Where Irene relief funding came from and where it went</h3>
        <div id="description-p">
            <p>Hundreds of millions of dollars were donated and appropriated to help people, business and towns recover from Tropical Storm Irene.</p>
            <p>In our prior installments of the Mapping the Money project, we've explored the <a href="http://www.vpr.net/apps/mapping-the-money/fed">federal</a> and <a href="http://www.vpr.net/apps/mapping-the-money/ngo">non government organization</a> contributions to the relief effort. In this final installment, we show the state's financial contribution toward the relief effort for the most expensive storm in the Vermont's history.</p>
            <p class="last-updated">Last Updated: August 27, 2013</p>
        </div>

        </div>
        <div class="span4">
            <div class="row" id="google-ad">
                <section><!-- VPR-Sitewide-UW-1-300x250 --> <div id='div-gpt-ad-1365016583819-0' style='width:300px; height:250px;'> <script type='text/javascript'> googletag.cmd.push(function() { googletag.display('div-gpt-ad-1365016583819-0'); }); </script> </div> <nav> <ul id="underwriter-nav"> <li><a href="http://www.vpr.net/apps/underwriter-directory/index">Find An Underwriter</a></li> -- <li><a href="http://www.vpr.net/support/business_underwriting/">Become An Underwriter</a></li> </ul> </nav></section>
            </div>
        </div>
    </div>
    <div class="social-row row">
        <div class="span4">
            <a class="read-more" href="http://digital.vpr.net/term/mapping-money">[ Follow the Reporting ]</a>
        </div>
        <div class="span4">
            <a class="read-more" href="http://www.vpr.net/apps/irene/index#mapping-link">[ Mapping the Money Home ]</a>
        </div>
        <div class="span4">
            <ul id="social">
                    <li id="share_prompt">SHARE:</li>
                    <li><a href="http://www.facebook.com/dialog/feed?
                        app_id=282283015178&
                        link=http://www.vpr.net/apps/mapping-the-money/state&
                        picture=http://www.vpr.net/apps/mapping-the-money/static/img/state-pie.png&
                        name=VPR:%20Mapping%20the%20Money&
                        caption=Irene%20Relief%20Funding:%20The%20State&
                        description=An%20interactive%20data%20visualization%20project%20to%20provide%20meaning%20and%20context%20to%20the%20dollars&
                        redirect_uri=http://www.vpr.net/apps/mapping-the-money/state"
                        target="_blank"><img src="static/img/small-facebook-icon.png"> FACEBOOK</a></li>
                    <li><a href="http://twitter.com/share?url=http://www.vpr.net/apps/mapping-the-money/state&text=Mapping the Money: The State - A VPR project following Irene Relief Funding. #VT $&via=vprnet" target="_blank">
                    <img src="static/img/small-twitter-bird-icon.png"> TWITTER</li></a>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.vpr.net/apps/mapping-the-money/state" target="_blank"><img src="static/img/small-icon_google.png"> GOOGLE+</li></a>
                </ul>
            </div>
    </div>
    
    <hr>
    <div id="state" class="row">
        <h2>$43,600,504 Already Disbursed by the State</h2>
        <div class="span6" id="table-description">
          <img id="state-pie" src="https://docs.google.com/spreadsheet/oimg?key=0AtWnpcGxoF0xdE5jblR1TEtlaUl3VG50REV2NGJsMHc&oid=1&zx=i646qkgwny2z" />
          <p>The funds shown in the table represent the total dollar amount disbursed by the state of Vermont, as reported to VPR. The $43.6 million dollar figure does not include the <strong>$15,800,000 in loans</strong> from the Vermont Economic Development Authority.</p>
            <p>The state has another <strong>$17,299,496 allocated</strong> for road repairs that has not yet been spent according to VTrans.</p>
        </div>
        <div class="span6">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>State Match of FEMA Public Assistance</td>
                        <td>$13,700,000</td>
                    </tr>
                    <tr>
                        <td>Vermont State Hospital</td>
                        <td>$12,000,000</td>
                    </tr>
                    <tr>
                        <td>Additional Repair/Cleanup*</td>
                        <td>$9,400,000</td>
                    </tr>
                    <tr>
                        <td>Road Repairs</td>
                        <td>$4,700,504</td>
                    </tr>
                    <tr>
                        <td>Housing and Mobile Homes</td>
                        <td>$1,200,000</td>
                    </tr>
                    <tr>
                        <td>State Portion of Emergency Management Assistance</td>
                        <td>$1,000,000</td>
                    </tr>
                    <tr>
                        <td>Education Fund Tax Abatement</td>
                        <td>$500,000</td>
                    </tr>
                    <tr>
                        <td>Refundable Flood Credits</td>
                        <td>$500,000</td>
                    </tr>
                    <tr>
                        <td>Case Management Contribution</td>
                        <td>$300,000</td>
                    </tr>
                    <tr>
                        <td>Disaster Recovery Coordinators</td>
                        <td>$300,000</td>
                    </tr>
                    <tr class="loans">
                        <td>Vermont Economic Development Authority <em>(Loan)</em></td>
                        <td>$15,800,000</td>
                    </tr>
                    <tr>
                        <th>Total Disbursed (no loans)</th>
                        <th>$43,600,504</th>
                    </tr>
                </tbody>
            </table>
            <p id="waterbury-note">*  These funds include $3,000,000 in insurance money collected by the state. The money went to the Roxbury Fish Hatchery, the repair of buildings outside of Waterbury, a petroleum clean-up, and the Chittenden County Transportation Authority.</p>
        </div>
    </div>

    <hr>

    <div id="more-mapping" class="row">
        <h3>More Mapping the Money</h3>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/ngo">
        <div class="more-stories span4">
            <h4>Mapping the Money: NGOs</h4>
            <img src="static/img/thumbnails/symbol-thumb.png" alt="Mapping the Money: VCF" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fed">
        <div class="more-stories span4">
            <h4>Mapping The Money: More Federal Funding</h4>
            <img src="static/img/fed-mtm.png" alt="Mapping The Money: More Federal Funding" />
        </div>
        </a>
        
        <a href="http://www.vpr.net/apps/mapping-the-money/fema">
        <div class="more-stories span4">
            <h4>Mapping The Money: FEMA</h4>
            <img src="static/img/choropleth.png" alt="Mapping The Money: FEMA" />
        </div>
        </a>
        
    </div>

    <hr>

    <div class="row" id="notes-row">
        <div id="the-data" class="span4">
            <h3>The Data</h3>
            <ul>
                <li><a href="data/state/vpr-irene-20130826-state.csv">State Data </a></li>
            </ul>
            <p>Click on the links above to download the relevant data</p>
        </div>
        <div id="the-people" class="span4">
            <h3>The People</h3>
            <table>
                <tr>
                    <td>The Reporter:</td>
                    <td><a href="http://digital.vpr.net/people/nancy-eve-cohen">Nancy Cohen</a></td>
                </tr>
                <tr>
                    <td>The Producer:</td>
                    <td><a href="http://twitter.com/jonathanpb">Jonathan Butler</a></td>
                </tr>
                <tr>
                    <td>The Editor:</td>
                    <td><a href="http://twitter.com/szvt">Steve Zind</a></td>
                </tr>
                <tr>
                    <td>The Developer: </td>
                    <td><a href="http://twitter.com/mattparrilla">Matt Parrilla</a></td>
                </tr>
            </table>
            <p class="last-updated"><em>Mapping the Money</em> is funded in part by the VPR Journalism Fund</p>
        </div>
        <div id="the-notes" class="span4">
            <h3>The Notes</h3>
            <p>The data represented is accurate as of August 27, 2013 as reported to VPR. Values will change as more funding is approved.</p>
        </div>
    </div>

<!-- End page specific HTML -->

      <hr>

      <footer>
        <p>&copy; Vermont Public Radio 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
